# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
.venv/
venv/
ENV/
env/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# System/IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
